.background {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: url(../../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
}
.custom-rounded {
  border-radius: 20px; /* Adjust this value for more or less rounding */
}
.text{
  padding-bottom: 50px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Space between image and title */
  margin-bottom: 1.5rem;
}