.box{
  background: linear-gradient(90deg, rgba(246,241,241,1) 0%, rgba(240,239,240,1) 0%, rgba(25,167,206,1) 17%, rgba(20,108,148,0.8758096988795518) 100%);
  background-size: cover;
  padding: 60px 0;
}

.paragraph{
  padding: 100px 60px;
}
.paragraph h4{
  color: rgb(246, 241, 241);
}
.paragraph h5{
  color: rgb(246, 241, 241);
  font-weight: 500;
}
.paragraph p{
  color: rgb(246, 241, 241);
}
.list{
  color: rgb(246, 241, 241);
  margin-bottom: 1rem;
  font-size: 15px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: 300;
}